h1 {
    font-family: ariel;
    text-align: center;
    margin-bottom: 10px;
}

body {
    padding: 30px;
    background-color: papayawhip;
}

#result {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#result img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

#add-coffee-form {
    margin-bottom: 20px;
}

#productForm {
    display: grid;
    width: 50%;
    margin: 0 auto;
}

i {
    font-size: 30px;
    margin-right: 10px;
}

i:hover {
    cursor: pointer;
    color: rgb(139, 0, 0);
    transition: all .2s ease-in-out;
}

#logo {
    width: 100%;
}

nav {
    padding: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    display: flex;
}

nav a {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

#dp {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
}

#user-details {
    text-align: right;
    width: 50%;
}

#username {
    position: relative;
    top: -15px;
    padding-right: 5px;
}

#links {
    width: 50%;
}

#image-preview img {
    width: 100%;
}